// Bootstrap here

$theme-colors: (
                "primary": #ffc107,
        "secondary": #515151,
        "danger": #ff4136
);

@import "node_modules/bootstrap/scss/bootstrap";

// our scss here

@import "./organism/Header";


// NOTE: je n'ai pas pu installer https://styled-components.com/ donc je style ici (404 sur dep emotion)
// TODO : si il y a le temps => migrer dessus

body {
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-image: linear-gradient(to right, #bdc3c7, #6ba4af);
}

